{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center text-primary mb-4">Welcome to Money.co</h2>
    <p class="text-center text-muted">Manage your loans and finances effortlessly.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Members Information</h5>
                    <p class="card-text">Every registered Members</p>
                    <a href="{% url 'members' %}" class="btn btn-primary">View Members</a>
                </div>
            </div>
        </div>
        <!-- Card 1 -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Loan Information</h5>
                    <p class="card-text">Get easy and fast loans with flexible repayment plans.</p>
                    <a href="{% url 'loan' %}" class="btn btn-primary">View Loan</a>
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Register a Member</h5>
                    <p class="card-text">Join us and enjoy exclusive financial benefits.</p>
                    <a href="{% url 'register_member' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Teaching Staff</h5>
                    <p class="card-text">Teaching Staff</p>
                    <a href="{% url 'teaching_staff' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-primary">Non-Teaching Staff</h5>
                    <p class="card-text">Non Teaching Staff</p>
                    <a href="{% url 'non_teaching_staff' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
