<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Management System</title>
</head>
<body>
    <h1>Welcome to the Banking Management System</h1>
    <a href="{%url 'loan_application'%}">go to loan</a>
    <button onclick="window.location.href='{% url 'teaching_staff' %}'">Teaching Staff</button>
    <button onclick="window.location.href='{% url 'non_teaching_staff' %}'">Non-Teaching Staff</button>
    <button onclick="window.location.href='{% url 'loan' %}'">Loan</button>
    <button onclick="window.location.href='{% url 'loan_application' %}'">Loan Application Form</button>
</body>
</html>

